<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Debts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let groups of info; let $index=index;" (click)="showPurchases(groups)">
      <ion-item>
        <ion-label>{{groups.groupName}}</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="groups.showPurchases">
        <div *ngFor="let purchase of groups.purchases">
          <ion-item *ngIf="findOwe(purchase) !== 0">
            {{purchase.description}} - Owe: {{findOwe(purchase) | number:'1.0-2'}}
            <ion-icon class="pay" name="checkmark-circle-outline" color="primary" (click)="payPurchase(purchase)"></ion-icon>
          </ion-item>
        </div>
      </div>
    </ion-card>
  </ion-list>
</ion-content>