<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref='/home'></ion-back-button>
    </ion-buttons>
    <ion-title>Pay My Debts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let groups of info; let $index=index;" (click)="showPurchases(groups)">
      <ion-item>
        <ion-label>{{groups.groupName}}</ion-label>
        <ion-icon [name]="groups.showPurchases ? 'arrow-dropdown' : 'arrow-dropright'" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="groups.showPurchases">
        <div *ngFor="let purchase of groups.purchases">
          <ion-item *ngIf="findOwe(purchase) !== 0 && !purchase.paid">
            {{purchase.description}} - Owe: .
            <span [ngClass]="{'negative': findOwe(purchase) < 0, 'positive' : findOwe(purchase) > 0, 'paid' : findOwe(purchase) < 0 && !canPay(purchase)}">$
              {{findOwe(purchase) | number:'1.0-2'}}</span>
            <!-- <ion-icon *ngIf="canPay(purchase)" class="pay" name="checkmark-circle-outline" color="primary" (click)="payPurchase(purchase)" slot="end"></ion-icon> -->
            <ion-button slot="end" *ngIf="canPay(purchase)"  color="primary" class="pay" (click)="payPurchase(purchase)">Pay</ion-button>
          </ion-item>
        </div>
      </div>
    </ion-card>
  </ion-list>
</ion-content>