<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/purchases"></ion-back-button>
    </ion-buttons>
    <ion-title>{{groupData.name}} - New Purchase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card> -->
    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-input [(ngModel)]="newPurchease.description" color="primary" autocorrect="on" clearInput="true" clearOnEdit="true"></ion-input>
      <ion-icon name="list-box" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Spent</ion-label>
      <ion-input [(ngModel)]="newPurchease.spent" type="number" color="primary" autocorrect="on" clearInput="true" clearOnEdit="true"></ion-input>
      <ion-icon name="cash" color="primary" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      Paid by "{{payBy.userName}}" and split "EQUALLY"
    </ion-item>
    <ion-item>
      <ion-label color="primary">All Group Participants</ion-label>
      <ion-toggle checked [(ngModel)]="allParticipants" class="allParticipants" slot="end"></ion-toggle>
    </ion-item>
    <ion-card *ngIf="!allParticipants">
      <ion-list>
        <ion-item *ngFor="let participant of groupData.participants">
          <ion-label>{{participant.name}}</ion-label>
          <ion-toggle slot="end" [(ngModel)]="participant.isChecked" color="primary" checked></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="true">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Add Guest Name</ion-label>
          <ion-input #guest clearInput="true"></ion-input>
          <ion-icon name="person-add" slot="end" (click)="addGuest(guest)"></ion-icon>
        </ion-item>
        <ion-item *ngFor="let guest of guests">
          <ion-label>{{guest}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button expand="block" (click)="save()">Save</ion-button>
</ion-content>