<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Group Name</ion-label>
    <ion-input [(ngModel)]="groupName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Friend Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
    <!-- <ion-icon name="person-add" slot="end" (click)="addFriend(email)"></ion-icon> -->
    <ion-button slot="end" color="primary" class="addButton" (click)="addFriend(email)">Add</ion-button>
  </ion-item>
  <ion-card *ngFor="let friend of friends; let i = index">
    <ion-item>
      <ion-label>{{friend.name}}</ion-label>
      <ion-icon name="trash" (click)="deleteFriend(i)"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-button expand="block" (click)="save()">Save</ion-button>

</ion-content>
