.profile {
    width: 45px;
    float: left;
    display: block;
    margin: 15px;
}

.userName {
    margin-left: 18px;
    text-align: center;
    line-height: 128%;
    font-size: 2em;
}
.userEmail {
    display: inline-block;
    margin-left: 18px;
}