.longPress {
    width: 100%;
    color: grey;
    position: absolute;
    text-align: center;
}
.headerDiv {
    background-image: url("../../../assets/groupBackground.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 30vh;
}