.longPress {
    width: 100%;
    color: grey;
    position: absolute;
    text-align: center;
}
.headerDiv {
    background-image: url("../../../assets/groupBackground.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 40vh;

    .headerInfo {
        opacity: 0.7;
        width: 70vw;
        display: block;
        margin: auto;
    }

    .profileImg {
        width: 90px;
        display: block;
        margin: auto;
        padding-top: 15px;
    }

    .homeSpinner {
        transform: scale(2);
        display: block;
        margin: auto;
        padding-top: 30%;
    }
}