<ion-header>
  <ion-toolbar color="primary" [appHideFab]="scrollArea" [fab]="fab">
    <ion-title>{{user.userName}}'s Goups</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #scrollArea scrollEvents="true">
    <!-- <ion-img class="icon" src="assets/png-grupo-8.png"></ion-img> -->
    <div class="headerDiv">
      <ion-img class="profileImg" src="assets/profile_photo3.png"></ion-img>
      <ion-spinner name="dots" *ngIf="showSpinner" class="homeSpinner"></ion-spinner>
      <div *ngIf="!showSpinner">
        <ion-item class="headerInfo">
          <ion-label>Groups</ion-label>
          <ion-badge slot="end" color="primary">{{user.groups.length}}</ion-badge>
        </ion-item>
        <ion-item class="headerInfo">
          <ion-label>Total you are owed</ion-label>
          <ion-badge slot="end" color="primary">${{totalCredit | number:'1.0-2'}}</ion-badge>
        </ion-item>
        <ion-item class="headerInfo">
          <ion-label>Total you owe</ion-label>
          <ion-badge slot="end" color="primary">${{totalDebt | number:'1.0-2'}}</ion-badge>
        </ion-item>
      </div>
    </div>
    <ion-card *ngFor="let group of user.groups">
      <ion-item>
        <ion-icon name="people" slot="start"></ion-icon>
        <ion-label (click)="goToPurchase(group)" (press)="editGroup(group)">{{group.name}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-label class="longPress">Long press to edit group.</ion-label>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
      <ion-fab-button>
        <ion-icon name="add" routerLink="/new-group"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>