<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{user.userName}}'s Goups</ion-title>
    <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class="icon" src="assets/png-grupo-8.png"></ion-img>
    <ion-card *ngFor="let user of user.groups">
      <ion-item>
        <ion-icon name="arrow-forward" slot="start"></ion-icon>
        <ion-label>{{user.name}}</ion-label>
      </ion-item>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" routerLink="/new-group"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>