<ion-header>
  <ion-toolbar color="primary" [appHideFab]="scrollArea" [fab]="fab">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{groupData.name}}'s Purchases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #scrollArea scrollEvents="true">
  <ion-img class="trolly" src="assets/img_trolly.png"></ion-img>

  <ion-card *ngFor="let purchase of purchases">
    <ion-item>
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label (click)="showDescription(purchase)">{{purchase.description}}</ion-label>
    </ion-item>
    <div *ngIf="purchase.showDescription">
        <ion-card id="capture">
          <ion-card-header>
            <ion-card-subtitle>
                <ion-label>
                  Date: {{purchase.date | date: 'dd MMM yyyy'}}
                </ion-label>
                <ion-label class="spent">
                  Spent: ${{purchase.spent}}
                </ion-label>
            </ion-card-subtitle>
            <ion-card-title>{{purchase.description}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item *ngFor="let guest of purchase.participants">
              <ion-label class="ion-text-wrap">
                <ion-icon *ngIf="guest.paid" name="checkmark-circle" class="paidCheck"></ion-icon>
                {{guest.name}} <span class="guestEmail">({{guest.email}})</span> - Owe:
                <span [ngClass]="{'negative': guest.owe < 0, 'positive' : guest.owe > 0}">$
                  {{guest.owe | number:'1.0-2'}}</span>
              </ion-label>
            </ion-item>
            <ion-icon class="share" name="share" color="primary" (click)="shareList()"></ion-icon>
            <ion-icon class="share" name="checkmark-circle-outline" color="primary" (click)="payPurchase(purchase)"></ion-icon>
            </ion-card-content>
            </ion-card>
      </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab>
    <ion-fab-button>
      <ion-icon name="add" (click)="goToNewPurchase()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
