<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{groupData.name}}'s Purchases</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img class="trolly" src="assets/img_trolly.png"></ion-img>

  <ion-card *ngFor="let purchase of purchases">
    <ion-item>
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label (click)="purchase.showDescription = !purchase.showDescription">{{purchase.description}}</ion-label>
      <!-- <ion-item *ngIf="showDescription" >
      </ion-item> -->
    </ion-item>
    <div *ngIf="purchase.showDescription">
        <ion-card>
          <ion-card-content>
            <ion-item class="purchaseDetailsTitle">
              <ion-label>
                Date: {{purchase.date | date: 'dd MMM yyyy'}}
              </ion-label>
              <ion-label id="spent">
                Spent: ${{purchase.spent}}
              </ion-label>
            </ion-item>
            <ion-item *ngFor="let guest of purchase.participants">
              <ion-label>{{guest.name}} <span class="guestEmail">({{guest.email}})</span> - Owe: {{guest.owe | number:'1.0-2'}}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <!-- <ion-img class="buy" (click)="goToNewPurchase()" src="assets/buy_now.png"></ion-img> -->
      <ion-fab-button>
          <ion-icon name="add" (click)="goToNewPurchase()"></ion-icon>
        </ion-fab-button>
  </ion-fab>

</ion-content>
