.trolly {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.buy {
    width: 45%;
    float: right;
    display: block;
}
.spent {
    float: right;
}
.guestEmail {
    font-style: oblique;
    color: darkgray;
}
.share {
    margin: 8px;
    width: 30px;
    height: 30px;
    float: right;
}